.cameraContainer {
  height: 90%;
  width: 100%;
}
.takePictureButton {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  bottom: 10px;
  left: 140px;
  border: 3px solid rgb(255, 255, 255);
  background-color: transparent;
}

.takenImageContainer {
  height: 90%;
  width: 100%;
}
.takenImage {
  height: 100%;
  width: 100%;
}
.discardButton {
  border-radius: 2px;
  position: absolute;
  top: 50px;
  left: 50px;
}
.analyzeButton{
  padding: 20px;
}
