.container {
  height: 90%;
  width: 100%;
}
.text {
  margin: 30px 0 10px;
  font-size: 25px;
  text-align: center;
}
.img {
  margin: 3px;
  width: 114px;
  height: 165px;
}
.historyContainer {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
