.container {
  height: 100%;
  width: 100%;
}
.text {
  margin: 30px 0 10px;
  font-size: 25px;
  text-align: center;
}
.img {
  width: 100%;
  height: 100%;
}
.imgContainer {
  width: 33%;
  height: 165px;
  margin: 0 0 4px 0;
}

.modal {
  background-color: white;
  width: 80%;
  height: 50%;
  padding: 8px;
  margin: 10%;
  border-radius: 4px;
}
.modalButton {
  align-content: center;
  width: 70%;
  height: 50px;
  margin: 30px 15%;
  background-color: #088282;
  border-radius: 4px;
}
.modalButtonText {
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: normal;
  color: #fff;
  margin: auto;
}
.modalText {
  font-size: 20px;
  text-align: center;
}

.header {
  padding: 30px 5px 5px 10px;
  height: 75px;
  flex-direction: row;
  background-color: #088282;
}
.headerText {
  flex: 2;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

// Info screen styles

.infoContainer {
  flex: 1;
  width: 100%;
  height: 100%;
}

.infoHeader {
  flex: 1;
}

.infoHeaderText {
  text-align: center;
  color: #088282;
  font-size: 35px;
  font-weight: bold;
  padding: 10px 30px 0px 30px;
}

.smallHeader {
  text-align: center;
  font-size: 23px;
  margin: 12px;
  font-weight: bold;
}

.infoUpperText {
  text-align: left;
  font-size: 17px;
  padding: 5px;
  margin: 3px 20px;
}

.infoFooter {
  padding: 5px;
  position: absolute;
  bottom: 2px;
  left: 12%;
}

.infoFooterText {
  font-size: 12px;
}

.toggleButton {
  margin: 10px 80px;
}

.buttonText {
  text-align: center;
  color: #fff;
  font-size: 20;
  background-color: #088282;
  border-radius: 4px;
  padding: 5px 0px;
}

.listItems {
  color: #000;
  font-size: 20;
  width: 100px;
  padding: 0px 10px;
  background-color: rgba(230, 230, 230, 0.4);
}

.list {
  align-items: center;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100;
  align-items: center;
  justify-content: center;
}
