@import "camera";

.container {
  height: 90%;
  width: 100%;
}
.text {
  margin-top: 10%;
  font-size: 25px;
  text-align: center;
}
.img {
  width: 120px;
  height: 200px;
}
.historyContainer {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
